#nav{
    background-color: black;
    height: 60px;
    color: white;
}
nav >a{
    text-decoration: none;
    margin-right: 200px;
    color: white;
}
#am{
    margin-right: 25px;
}
#btn{
    background-color: yellow;
}